@tailwind base;
@tailwind components;
@tailwind utilities;

:root, body {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  max-width: 65ch;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(90deg, #000000, #000000);
}
